body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

.navbar {
    background-color: royalblue;
    min-height: 50px;
    z-index: 100;
    box-shadow: 0 1px 2px 0 #000000;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.side-menu {
    background-color: steelblue;
    min-width: 100px;
    max-width: 100px;
    z-index: 50;
    box-shadow: 1px 0 2px 0 #000000;
    display: flex;
    flex-direction: column;
}

.room-button {
    border: 1px solid black;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.75rem 1rem 0;
    height: 68px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 1px #000000;
    background-color: skyblue;
    text-align: center;
}

    .room-button:hover {
        box-shadow: 0 2px 3px 1px;
    }

    .room-button > strong {
        font-size: 36px;
    }

.chat {
    background-color: #eeee;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.chat-body {
    background-color: #eeee;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    padding-bottom: 1rem;
    overflow: auto;
}

.chat-input {
    background-color: lightblue;
    min-height: 70px;
    z-index: 25;
    box-shadow: 0 -1px 2px 0 #000000;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

    .chat-input > input {
        flex-grow: 2;
    }

    .chat-input > button {
        flex-grow: 2;
    }

.message {
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
}

    .message:first-child {
        margin-top: auto;
    }

    .message > header {
        font-weight: bold;
        min-width: 100px;
        text-align: right;
    }

    .message > * {
        padding: .2rem;
    }

    .message > p {
        margin: 0;
        flex-grow: 5;
    }

    .message > footer {
        flex-grow: 1;
        width: 60px;
        text-align: center;
    }

.modal {
    display: none;
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    z-index: 200;
    background-color: rgba(0.2,0.2,0.2,0.8);
    top: 0;
    left: 0;
}

    .modal.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.modal-body {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    padding: 1rem;
    position: relative;
}

    .modal-body > header {
        color: white;
        font-size: 24px;
    }

    .modal-body > * {
        margin-top: .75rem;
    }

    .modal-body > div > input {
        width: 100%;
    }

    .modal-body > footer {
        text-align: center;
    }

    .modal-body > .close {
        position: absolute;
        top: 5px;
        right: 5px;
        margin-top: 0;
    }